/* 
 *
 * @Project        
 * @Copyright      Djoudi
 * @Created        2018-02-20 
 * @Filename       h5p.scss
 * @Description    
 *
 */

.h5p-editor-iframe {
    margin-bottom: 0px !important;
}

/*html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    width:inherit;
    max-width:inherit;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    padding-top:10%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#app {


}

.h5p-lists {

    .h5p-noresult {
        background:#f9fafb;
        text-align:center;
        font-size:15px;
        min-height: 100px;
        padding:50px;

    }

    .h5p-content {

        display:block;
        width:200px;
        padding:15px;
        background:#fff;

        .h5p-preview {

        }

        .h5p-body {

        }

        .h5p-footer {
            font-size:12px;
            color:#ddd;
        }

    }

}*/


