/*
*
* @Project        laravel5.5-h5p
* @Copyright      Djoudi
* @Created        2018-02-20
* @Filename       laravel-h5p.css
* @Description
*
*/
.h5p-editor-iframe {
    margin-bottom: 0px !important;
}