/*

@Project        laravel-h5p
@Copyright      leechanrin
@Created        2017-05-08 오후 3:17:10 
@Filename       laravel-h5p.css.css
@Description    

*/
.h5p-editor-iframe {
    margin-bottom: 0px !important;
}